.footer__pre-footer .search-input {
    border: 1px solid #222;
    border-radius: 4px;
}
.footer__pre-footer .search-input-wrapper input:focus {
    box-shadow: none;
    border: none;
}

header {
    background-color: var(--bg-header);
}
.header__top {
    padding: 4px;
    text-align: center;
    background-color: var(--blue);
    color: white;
}
.header-nav {
    color: #0060a9;
    font-size: 14px;
    padding-top: 7px;
}
.header-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}
.header-nav li {
    margin: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header-nav li:hover {
    text-decoration: underline;
}
.header-nav li svg {
    height: 16px;
}
.header__center__items {
    gap: 24px;
    margin: 12px 0;
    display: flex;
    align-items: center;
}
.header__center__item {
    display: flex;
    justify-content: end;
}
.header__center__item:nth-child(2) {
    flex: 1;
}
.header__center .desktop-logo {
    height: 50px;
    max-width: 271px;
    min-width: 170px;
}

.header__center {
    padding: 12px 0;
}
.header__center ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    color: #0060a9;
    gap: 16px;
}
.header__center ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    padding: 0 16px;
}
.header__center ul li:last-child svg {
    width: 30px;
    height: 30px;
}
.header__center ul li:nth-child(2) {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.header__center ul li:hover {
    text-decoration: underline;
}
.header__center .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 91px;
    background-color: rgb(0, 93, 171);
    color: #fff;
    border: none;
}
.header__center .menu-button span {
    margin-left: 4px;
    font-size: 1.125rem;
}
.header__catalog {
    background-color: var(--blue);
}
.header__catalog ul {
    gap: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    padding-left: 0;
}
.header__catalog ul li {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 0px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-top: 10px;
}
.header__catalog ul li:first-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
}
.header__catalog ul li:first-child svg {
    width: 20px;
    height: 20px;
}
.header__catalog ul li:first-child span {
    margin-left: 4px;
}
.header__bar {
    margin-top: 12px;
}
.header__bar .header__bar__items {
    display: flex;
    justify-content: space-between;
}
.header__bar .header__bar__items .logo {
    height: 32px;
    max-width: 120px;
    min-width: 108px;
}
.header__bar ul {
    color: rgb(0, 93, 171);
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    padding-left: 0;
}
.header__bar ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    font-size: 10px;
}
.header__bar ul li:nth-child(2) {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
/* FOOTER */
footer {
    background-color: var(--bg-footer);
    color: #5f5f5f;
    padding: 24px 0 32px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
footer h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3;
    padding-bottom: 12px;
}
footer hr {
    margin: 0;
    margin-bottom: 0px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-width: 0;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: thin;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    height: auto;
    background: #cccccc;
    margin-bottom: 32px;
    width: 100%;
}
.footer__links ul {
    padding-left: 0;
    display: inline-flex;
    justify-content: center;
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;
    color: #5f5f5f;
    font-size: 0.875rem;
}
.footer__links ul li {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;
    cursor: pointer;
}
.footer__links ul li:hover {
    text-decoration: underline;
}
.footer__links ul li img {
    width: 31px;
    height: 14px;
    aspect-ratio: auto 31 / 14;
}
.footer__bottom-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.footer__site-info {
    font-size: 0.75rem;
    text-align: center;
}
.footer__social-block {
    display: flex;
    justify-content: center;
}
.footer__social-block ul {
    display: inline-flex;
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;
}
.footer__social-block ul li {
    cursor: pointer;
}
.footer__social-block ul img {
    width: 32px;
    height: 32px;
}
.footer__pre-footer {
    display: flex;
}

.footer__pre-footer-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__topics {
    display: flex;
    flex-direction: row;
}
.footer__topics-item {
    flex: 1;
}
.footer__topic-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.footer__topic-title svg {
    display: none;
    transition: transform 0.3s ease;
}
.footer__topic-title.open svg {
    transform: rotate(180deg);
}
.footer__topic-links {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    line-height: 1.7;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.7;
    color: #5f5f5f;
}
.footer__topic-links li {
    cursor: pointer;
}
.footer__topic-links li:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer__topics {
        flex-direction: column;
    }
    .footer__topic-links {
        padding: 16px;
        display: none;
    }
    .footer__topic {
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }
    .footer__topic-title {
        padding: 16px;
        font-size: 1.125rem;
        line-height: 1.3;
        font-weight: 700;
        color: #333333;
    }
    .footer__topic-title svg {
        display: block;
    }
}

/* DELIVERY BAR */
.delivery-bar {
    background: #fafafa;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.delivery-bar__items {
    padding: 12px 0;
    display: flex;
    justify-content: start;
    gap: 24px;
}
.delivery-bar__item {
    display: flex;
    flex-direction: column;
}
.delivery-bar__item-title {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #333333;
}
.delivery-bar__item-content {
    display: flex;
    align-items: center;
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 700;
}
.delivery-bar__item-time {
    margin: 0px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5;
    text-wrap: wrap;
    color: rgb(0, 128, 0);
    padding-left: 20px;
}

.breadcrumb-wrapper {
    padding: 24px 0;
    line-height: 1.5;
    color: #5f5f5f;
    font-weight: 400;
    font-size: 0.875rem;
    color: #333333;
}

.breadcrumb {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

.breadcrumb li::after {
    content: "/";
    margin-left: 0.5rem;
    color: #999;
}

.breadcrumb li:last-child::after {
    content: "";
}

.breadcrumb li {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
    cursor: pointer;
}

.breadcrumb li span:hover {
    text-decoration: underline;
}

.badge {
    display: inline-flex;
    align-items: center;
    padding: 2px 4px;
    padding-right: 6px;
    border-radius: 3px 3px 0 3px;
    word-break: break-word;
    clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 100%, 0% 100%);
    max-width: max-content;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.3;
    cursor: pointer;
}

/* Цвет текста внутри */
.badge .badge-text {
    color: #ffffff;
    margin-right: 6px;
}

/* Варианты цвета */
.badge-red {
    background-color: #e51937;
}
.badge-red:hover {
    background-color: #b8142c;
}

.badge-blue {
    background-color: #005dab;
}

.product-cols {
    display: flex;
    gap: 16px;
    overflow: visible;
}

.product-cols .left {
    flex: 14;
}
.product-cols .right {
    flex: 10;
}

.product-cols .product-sticky {
    position: sticky;
    top: 0;
}

.desktop-product-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.desktop-product-images > *:first-child {
    grid-column: 1 / -1; /* первый элемент на всю ширину */
    aspect-ratio: 1 / 1; /* квадрат */
}

.desktop-product-image {
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 4px;
    cursor: grab;
}
.desktop-product-image img {
    width: 100%;
}
.desktop-product-image .magnifier {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #000;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
}
.desktop-product-image .magnifier:hover {
    background-color: #eee;
}
.desktop-product-image .magnifier img {
    width: 18px;
}

.product-specs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-spec {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    padding: 16px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.product-spec a {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .product-spec {
        border-radius: 0;
    }
}
.desktop-product-image .product-play {
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desktop-product-image .product-play .play-wrapper {
    width: 210px;
    height: 210px;
    background: rgb(51, 51, 51, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desktop-product-image .product-play img {
    width: 130px;
    height: 130px;
    filter: invert(1);
    margin-left: 15px;
}
.product-spec-description a {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
.product-spec-description__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.product-spec-description__name {
    font-size: 1.75rem;
    line-height: 1.3;
    color: #333;
}

.product-spec-description__description {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5;
    font-optical-sizing: none;
    font-variation-settings: "opsz" 10;
    color: #707070;
}

.product-spec-description__rank {
    color: #000000;
    font-size: 16px;
    font-family: Costco Sans Web;
    display: flex;
    gap: 8px;
}
.product-spec-description__rank img {
    height: 28px;
    margin-top: -1px;
}

.product-spec-price__price-wrapper {
    display: flex;
}

.product-spec-price__currency {
    margin: 0px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    font-size: 1.125rem;
    line-height: 0.889;
}
.product-spec-price__price-amount {
    margin: 0px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    font-size: 2.5rem;
    line-height: 0.8;
}

.product-spec-price__price-cents {
    margin: 0px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    font-size: 1.125rem;
    line-height: 0.889;
}

.product-spec-price__price-info {
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 700;
    color: #333333;
    display: flex;
    align-items: center;
}

.product-spec-price__price-info svg {
    width: 24px;
    height: 24px;
    color: #777;
    border-radius: 50%;
}
.product-spec-price__price-info svg:hover {
    cursor: pointer;
    background-color: #eeeeee;
}
.product-spec-price__price-description {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5;
    font-optical-sizing: none;
    font-variation-settings: "opsz" 10;
    color: #707070;
}

.product-details {
    margin-top: 20px;
}
.product-details-content {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.specifications-table td:first-child {
    font-size: 0.875rem;
    font-weight: 700;
}
.specifications-table td:nth-child(2) {
    font-family:
        Costco Sans Web,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #333333;
}

.reviews-rank {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
@media (max-width: 768px) {
    .reviews-rank {
        flex-direction: column;
    }
}
.reviews-rank-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reviews-rank-item p {
    margin: 0;
}

.review-distribution {
    width: 100%;
    font-family: sans-serif;
    white-space: nowrap;
    font-size: 16px;
    font-family: Costco Sans Web;
    color: rgb(51, 51, 51);
}

.star-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.star-row-stars {
    min-width: 50px;
}

.reviews-count {
    max-width: 55px;
    min-width: 45px;
}

.progress-bar {
    flex: 1;
    height: 16px;
    background-color: rgb(192, 192, 192);
    box-shadow: rgb(204, 204, 204) 0px 0px 0px 1px inset;
    border-radius: 6px;
    margin: 0 8px;
    overflow: hidden;
}

.progress-bar-inner {
    height: 100%;
    background-color: rgb(0, 96, 169);
    /* желтая полоска */
    width: 0;
}

.reviews-rank__rank {
    display: flex;
    gap: 15px;
}

.reviews-rank__rank-value {
    font-size: 45px;
    line-height: 40px;
    height: 50px;
    min-width: 60px;
    padding: 5px 5px 5px 0px;
    color: rgb(51, 51, 51);
    font-family: Costco Sans Web;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
}
.reviews-rank__rank-reviews-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reviews-rank__rank-stars {
    display: flex;
}
.reviews-rank__rank-stars img {
    width: 13.5px;
    height: 13.5px;
    filter: invert(29%) sepia(94%) saturate(1764%) hue-rotate(186deg) brightness(91%) contrast(101%);
}

#user-rank {
    display: flex;
    flex-direction: row;
}

.user-rank__star-wrapper {
    padding-left: 5px;
}
.user-rank__star {
    width: 51px;
    height: 51px;
    border: 1px solid rgb(0, 96, 169);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}
.user-rank__star.active {
    background-color: rgb(0, 96, 169);
}
.comment-body {
    margin-top: 8px;
    padding-left: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comments-block {
    margin-top: 20px;
}
.comments {
    padding: 0 20px;
}
.comment-stars {
    margin-bottom: 8px;
}
.comment-stars img {
    width: 13.5px;
    height: 13.5px;
}

.comment-title {
    color: rgb(0, 96, 169);
    font-size: 16px;
    line-height: 24px;
    font-family: Costco Sans Web;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px 0px 10px;
    word-break: break-word;
}

.comment-user {
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 24px;
    font-family: Costco Sans Web;
}

.comment-verification {
    font-size: 10px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    vertical-align: middle;
}
.comment-img-wrapper{
    width: 175px;
    height: 175px;
    padding: 2px;
    overflow: hidden;
}
.comment-photos img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.comment-summary img{
    width: 14px;
    height: 14px;
}

.comment-photos img:hover{
    transform: scale(1.05);
}