:root {
    --blue: #005dab;
    --bg-header: #eeeeee;
    --bg-footer: #eeeeee;
}
h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3;
    color: #333333;
    padding-bottom: 12px;
}
.responsive-text {
    font-size: 1rem;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .responsive-text {
        font-size: 1.125rem;
        line-height: 1.3;
    }
}
.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.desktop,
.mob {
    display: none !important;
}

/* desktop */
@media (min-width: 769px) {
    .desktop {
        display: flex !important;
    }
}

/* mobile */
@media (max-width: 768px) {
    .mob {
        display: flex !important;
    }
}

@media (min-width: 1024px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width: 0px) {
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }
}
.question {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.7;
    color: #333333;
}
.question span:hover {
    text-decoration: underline;
}
/* SEARCH INPUT */
.search-input-wrapper {
    flex: 1;
    display: flex;
}
.search-input-wrapper input {
    border: none;
    width: 100%;
    padding: 2.5px 4px 2.5px 8px;
}
.search-input-wrapper input::placeholder {
    color: #707070;
}
.search-input-wrapper input:focus {
    outline: none;
    border-radius: 3px;
    border: 2px solid #005dab;
    box-shadow: 0px 0px 4px 0px #005dab;
}
.search-input {
    background-color: #ffffff;
    border: 1px solid var(--blue);
    height: 40px;
    width: 100%;
    display: flex;
}
.search-input .search-icon-wrap {
    width: 90px;
    display: flex;
    justify-content: end;
}
.search-input .search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input .search-icon svg {
    width: 28px;
    height: 28px;
    color: var(--blue);
}
.footer__pre-footer .search-input {
    border: 1px solid #222;
    border-radius: 4px;
}
.footer__pre-footer .search-input-wrapper input:focus {
    box-shadow: none;
    border: none;
}

header {
    background-color: var(--bg-header);
}
.header__top {
    padding: 4px;
    text-align: center;
    background-color: var(--blue);
    color: white;
}
.header-nav {
    color: #0060a9;
    font-size: 14px;
    padding-top: 7px;
}
.header-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}
.header-nav li {
    margin: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header-nav li:hover {
    text-decoration: underline;
}
.header-nav li svg {
    height: 16px;
}
.header__center__items {
    gap: 24px;
    margin: 12px 0;
    display: flex;
    align-items: center;
}
.header__center__item {
    display: flex;
    justify-content: end;
}
.header__center__item:nth-child(2) {
    flex: 1;
}
.header__center .desktop-logo {
    height: 50px;
    max-width: 271px;
    min-width: 170px;
}

.header__center {
    padding: 12px 0;
}
.header__center ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    color: #0060a9;
    gap: 16px;
}
.header__center ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    padding: 0 16px;
}
.header__center ul li:last-child svg {
    width: 30px;
    height: 30px;
}
.header__center ul li:nth-child(2) {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.header__center ul li:hover {
    text-decoration: underline;
}
.header__center .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 91px;
    background-color: rgb(0, 93, 171);
    color: #fff;
    border: none;
}
.header__center .menu-button span {
    margin-left: 4px;
    font-size: 1.125rem;
}
.header__catalog {
    background-color: var(--blue);
}
.header__catalog ul {
    gap: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    padding-left: 0;
}
.header__catalog ul li {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 0px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-top: 10px;
}
.header__catalog ul li:first-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
}
.header__catalog ul li:first-child svg {
    width: 20px;
    height: 20px;
}
.header__catalog ul li:first-child span {
    margin-left: 4px;
}
.header__bar {
    margin-top: 12px;
}
.header__bar .header__bar__items {
    display: flex;
    justify-content: space-between;
}
.header__bar .header__bar__items .logo {
    height: 32px;
    max-width: 120px;
    min-width: 108px;
}
.header__bar ul {
    color: rgb(0, 93, 171);
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    padding-left: 0;
}
.header__bar ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    font-size: 10px;
}
.header__bar ul li:nth-child(2) {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
/* FOOTER */
footer {
    background-color: var(--bg-footer);
    color: #5f5f5f;
    padding: 24px 16px 32px 16px;
}
footer hr {
    margin: 0;
    margin-bottom: 0px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-width: 0;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: thin;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    height: auto;
    background: #cccccc;
    margin-bottom: 32px;
    width: 100%;
}
.footer__links ul {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;
    color: #5f5f5f;
    font-size: 0.875rem;
}
.footer__links ul li {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;
}
.footer__links ul li img {
    width: 31px;
    height: 14px;
    aspect-ratio: auto 31 / 14;
}
.footer__bottom-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.footer__site-info {
    font-size: 0.75rem;
    text-align: center;
}
.footer__social-block {
    display: flex;
    justify-content: center;
}
.footer__social-block ul {
    display: inline-flex;
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;
}
.footer__social-block ul img {
    width: 32px;
    height: 32px;
}
.footer__pre-footer {
    display: flex;
}

.footer__pre-footer-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
