:root {
    --blue: #005dab;
    --bg-header: #eeeeee;
    --bg-footer: #eeeeee;
}
html {
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5 {
    color: #333;
    font-weight: 500;
}

/* Desktop */
h1 {
    font-size: 1.375rem; /* 22px */
}
h2 {
    font-size: 1.125rem; /* 18px */
}
h3 {
    font-size: 1rem; /* 16px */
}
h4 {
    font-size: 0.875rem; /* 14px */
}
h5 {
    font-size: 0.75rem; /* 12px */
}

body {
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 24px;
    font-family: Costco Sans Web;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    margin-bottom: 5px;
    word-break: break-word;
}
a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.text-sm {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

/* Mobile — max-width: 768px */
@media (max-width: 768px) {
    h1 {
        font-size: 1.25rem; /* 20px */
    }
    h2 {
        font-size: 1.0625rem; /* 17px */
    }
    h3 {
        font-size: 0.9375rem; /* 15px */
    }
    h4 {
        font-size: 0.8125rem; /* 13px */
    }
    h5 {
        font-size: 0.6875rem; /* 11px */
    }
}

.mb-0 {
    margin-bottom: 0rem;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 0.75rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
.mb-7 {
    margin-bottom: 1.75rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.mb-9 {
    margin-bottom: 2.25rem;
}
.mb-10 {
    margin-bottom: 2.5rem;
}

.mt-0 {
    margin-top: 0rem;
}
.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mt-5 {
    margin-top: 1.25rem;
}
.mt-6 {
    margin-top: 1.5rem;
}
.mt-7 {
    margin-top: 1.75rem;
}
.mt-8 {
    margin-top: 2rem;
}
.mt-9 {
    margin-top: 2.25rem;
}
.mt-10 {
    margin-top: 2.5rem;
}

.responsive-text {
    font-size: 1rem;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .responsive-text {
        font-size: 1.125rem;
        line-height: 1.3;
    }
}
.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width: 0px) {
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 768px) {
    .mpl-0 {
        padding-left: 0;
    }
    .mpr-0 {
        padding-right: 0;
    }
}

.desktop,
.mob {
    display: none !important;
}

/* desktop */
@media (min-width: 769px) {
    .desktop {
        display: flex !important;
    }
}
/* mobile */
@media (max-width: 768px) {
    .mob {
        display: flex !important;
    }
}

.question {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.7;
    color: #333333;
}
.question span:hover {
    text-decoration: underline;
}
/* SEARCH INPUT */
.search-input-wrapper {
    flex: 1;
    display: flex;
}
.search-input-wrapper input {
    border: none;
    width: 100%;
    padding: 2.5px 4px 2.5px 8px;
}
.search-input-wrapper input::placeholder {
    color: #707070;
}
.search-input-wrapper input:focus {
    outline: none;
    border-radius: 3px;
    border: 2px solid #005dab;
    box-shadow: 0px 0px 4px 0px #005dab;
}
.search-input {
    background-color: #ffffff;
    border: 1px solid var(--blue);
    height: 40px;
    width: 100%;
    display: flex;
}
.search-input .search-icon-wrap {
    width: 90px;
    display: flex;
    justify-content: end;
}
@media (max-width: 768px) {
    .search-input .search-icon-wrap {
        width: 50px;
    }
}
.search-input .search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input .search-icon svg {
    width: 28px;
    height: 28px;
    color: var(--blue);
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.625rem 1rem;
    height: 2.5rem;
    width: 100%;
    margin: 0;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 93, 171, 0.5);
}
.btn-primary {
    background-color: #005dab;
    color: #fff;
    border: 1px solid #005dab;
}
.btn-primary:hover {
    background-color: #004d89;
    border-color: #004d89;
    color: #fff;
}
.btn-outline-primary {
    background-color: #fff;
    color: #005dab;
    border: 1px solid #005dab;
}
.btn-outline-primary:hover {
    background-color: #ededed;
    color: #005dab;
    border-color: #005dab;
}

main {
    margin-bottom: 60px;
}

.back-to-top {
    display: none;
    right: 0px;
    bottom: 72px;
    position: fixed;
    color: rgb(0, 93, 171);
    border: 1px solid rgb(0, 93, 171);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px;
    cursor: pointer;
    -moz-box-pack: center;
    justify-content: center;
    flex-direction: column;
    height: 55px;
    padding: 4px 8px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.back-to-top span {
    margin: -4px 0px 0px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
}
.back-to-top.show {
    display: flex;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 0;
}
.accordion-item:last-child {
    border-bottom: 1px solid #ccc;
}

.accordion-item:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}

.accordion-button {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow-anchor: none;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out,
        border-radius 0.15s ease;
}
.accordion-button:hover {
    background-color: #eeeeee;
}

.accordion-button:not(.collapsed) {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(-180deg);
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}
.accordion-body {
    padding: 8px 16px 16px;
}


.table-custom {
  border-collapse: collapse;
  width: 100%;
}

.table-custom th,
.table-custom td {
  padding: 12px;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  text-align: left;
}

.table-custom tr:nth-child(odd) {
  background-color: #fafafa;
}